.git
.venv
__pycache__
*.pyc
*.pyo
*.log
node_modules
rag_frontend/node_modules
rag_frontend/build
faiss_index
rag_system/faiss_index
webonomics_chunked.jsonl
pdf_chunked.jsonl
webonomics_crawler_data.json
webonomics_rag_chunked.jsonl
webonomics_rag_chunks.json
webonomics_rag_chunks_cleaned.json
webonomics_rag_knowledge.json
webonomics_rag_knowledge_cleaned.json
webonomics_rag_ready.jsonl
